/* Working with FLEXBOX */
body, main, header, article, section, form, section, #container, h1, h2, h3, h4{
  display: flex;
}

body { 
  font-family: sans-serif;
  background-color: #4b8fdd;
}

* {
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {font-size: 3em;}

h2 {
  font-size: 2em;
  justify-content:center;
}

h2 i { 
  margin-right: 5px;
  color: #A6ED2D;
}


header {
  height: 10vh;
  align-items: center;
  text-transform: uppercase;
}

 main {
  width: 100%;
  margin: 2% 2%;
  flex-direction: column;
  align-items: center;
 }
 
 form {
  width: 40%;
  flex-direction: column;
  justify-content: space-evenly;
  height: 38vh;
  margin-bottom: 3%;
 }

 form > button {
  width: 100%;
  color: white;
  background-color: #2c51d3;
  border: 2px solid#2c51d3;
}


 input#name,input#points,input#course,#sessions {
  height: 4vh;
  text-align: center;
  color: black;
  border: 2px solid #2c51d3;
  border-radius: 20px;
}

#container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#container > section {
  width: 500px;
  margin-bottom: 3%;
}

article {
  flex-direction: column;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

article > article {
  width: 85%;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
}

#container article article > article {
  font-size: 0.8em;
  flex-direction: row;
  justify-content: space-between;
}

#container article section {
  width: 100%;
  justify-content: space-evenly;
}

button {
  width: 33%;
  height: 3vh;
  font-weight: 600;
  color: black; 
  background-color: white; 
  border: 2px solid#2c51d3;
  text-decoration: none;
  cursor: pointer; 
  border-radius: 20px;
}

.submit {
  background-color: #2c51d3;
  border: 3px solid #2c51d3;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 7px 18px;
}


/* icon Hover */
i { 
  margin-left: 5px;
  color: #A6ED2D;
}

/* Hover */
#btn:hover {
  background-color: #2c51d3;
  color: white;
  transition-duration: 0.4s;
}